.container {
	max-width: 48rem;
	padding: 0 1rem;
	margin: 2rem auto;
}

.header {
	background-color: #DDDDDD;
	margin-bottom: 3rem;
}

.headerContainer {
	max-width: 48rem;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.headerLinks{
	color: #311d46;
	font-weight: 200;
	font-size: 1.15rem;
}

.backToHome {
	margin: 3rem 2rem 0;
	max-width: 10rem;
}

.footer {
	margin: 100px auto 20px;
    text-align: center;
}